<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>Home</title>
    </head>
<body>
    <main>
        <h1>Bienvenue sur le site ecommerce</h1>
        <p>Voici la page d'accueil de notre site ecommerce</p>

    </main>
    </body>
</html>
        