{% extends 'guest/base.html.twig' %}

{% block metatitle %}
	Vacances ou bouffes | Accueil
{% endblock metatitle %}

{% block main %}
	<h1>Achetez des produits en tout genre</h1>
{% endblock main %}
        