{% extends 'guest/base.html.twig' %}

{% block metatitle %}
	Vacances ou bouffes | Login
{% endblock metatitle %}

{% block main %}

	<h1>Se connecter</h1>
	
	<form method="POST">

		<label> Email
			<input type="email" name="_username">
		</label>


		<label> Mot de passe
			<input type="password" name="_password">
		</label>

		<button type="submit">Se connecter</button>
	
	</form>
{% endblock main %}