{% extends 'admin/base.html.twig' %}


{% block metatitle %}
Vacances ou bouffes | Créer un produit
{% endblock metatitle %}


{% block main %}
<h1>Créer un produit</h1>

{# quand un formulaire contient des données normales + des fichiers (images etc) 
	 il faut ajouter l'attribut enctype="multipart/form-data" au formulaire
	#}

<form method="POST" enctype="multipart/form-data">
	<label for="title">Titre
		<input type="text" name="title">
	</label>

	<label for="description">Description
		<input type="text" name="description">
	</label>

	<label for="price">Prix
		<input type="number" name="price">
	</label>
	{#je créais une liste déroulante avec les catégories#}
	<label for="is-published">Publié le :     
		<input type="checkbox" name="is-published"> 
	</label>


	<select name="category-id">  {#le name="category-id" est important pour le traitement du formulaire#}
		{# je fais une boucle sur les catégories pour les afficher dans la liste déroulante #}
		{% for category in categories %}
			<option value="{{ category.id }}">{{ category.title }}</option>
		{% endfor %}
	
	</select>
	{#exo 22# uploads des images#}
	<label for="image">Image
		<input type="file" name="image">
	</label>

	<button type="submit">Créer votre produit</button>

</form>

{% endblock main %}