<header>
            <nav>
                <ul>
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="{{ path('category-list') }}">Catégories</a></li>
                    <li><a href="{{ path('product-list') }}">Produits</a></li>
                </ul>
            </nav>
        </header>